


body.dark .resume{
    max-width:800px;
    margin:0 auto;
    /* border:1px solid blue;     */
}

body.dark .resume>section{
    margin: 50px 0;
}

body.dark .resume>section>h1{
    text-align: center;
    margin: 20px;
}

body.dark .resume>section>h2{
    text-align: center;
    margin: 20px;
}

body.dark .resume .profile{
    text-align: center;
}

body.dark .resume .skills>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body.dark .resume .skills >ul>li{
    width:48%;
    border: solid #8AF1C1 1px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

body.dark .resume .profile p{
    border: solid #8AF1C1 1px;
    border-radius: 5px;
}

/* .resume .projects{

}

.resume .projects>ol{

} */

body.dark .resume .projects>ol>li{
    margin: 30px 0;
    border:solid #8AF1C1 1px;
    padding: 10px;
    border-radius: 5px;
}

body.dark .resume .projects header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

body.dark .resume .projects header .start{
    display: flex;
}

body.dark .resume .projects header .name{
    margin-right: 1em;
}

body.dark {
    background: #B5D1C8;
    /* color:#1D2225; */
    color:#1E1D25;
}